/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: MIT
 */

.wrapper {
    padding: calc(var(--default-spacing) * 2);
}

.gradientContainer {
    min-width: 200px;
    max-width: 250px;
    width: 100%;
}

.gradient {
    width: 100%;
    height: 35px;
    border: 1px solid #000;
}

.gradientLabelContainer {
    display: flex;
    justify-content: space-between;
}

.entryContainer {
    min-width: 45px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.listItem,
.subListItem {
    list-style: none;
}

.subListItem {
    margin-left: var(--default-spacing);
    margin-right: var(--default-spacing);
}

.listItemIconWrapper > svg {
    fill: var(--mantine-color-text);
    stroke: var(--mantine-color-text);
    width: 18px;
    height: auto;
}

.list {
    width: fit-content;

    display: flex;
    flex-wrap: wrap;

    margin-bottom: var(--default-spacing);

    background-color: var(--mantine-color-gray-4);
    padding: 4px;
}

.title {
    text-align: center;
}

.capacityLegend {
    min-width: none;
}

.storageLegend {
    min-width: none;
}

.thirtyYearAverageLegend {
    min-width: 190px;
}

.thirtyYearAverageLegend > svg {
    width: 40px;
}
