/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: MIT
 */

.gradientContainer {
    min-width: 200px;
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
}

.gradient {
    width: 100%;
    height: 35px;
    border: 1px solid #000;
}

.gradientLabelContainer {
    display: flex;
    justify-content: space-between;
}

.entryContainer {
    display: flex;
    align-items: center;
}

.listItem {
    list-style: none;
}

.listItemIconWrapper > svg {
    width: 18px;
    height: auto;
}

.list {
    margin-bottom: 8px;
}

.title {
    text-align: center;
}
