/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: MIT
 */

.mapContainer {
    display: grid;
    position: relative;
    width: 100%;
    height: 100%;
}

.mapContainerSmall {
    height: calc(100vh - 433px);
}

/* .mapContainerLarge {
    height: calc(100vh - 85px);
} */

@media (max-width: 1362px) {
    .mapContainerSmall {
        height: calc(100vh - 463px);
    }
}
@media (max-width: 1225px) {
    .mapContainerSmall {
        height: calc(100vh - 515px);
    }
}
/* @media (max-width: 1035px) {
    .mapContainerSmall {
        height: calc(100vh - 224px);
    }
}
@media (max-width: 592px) {
    .mapContainerSmall {
        height: calc(100vh - 276px);
    }
} */
