/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: MIT
 */

.mapContainer {
    display: grid;
    position: relative;
}

.mapContainerSmall {
    width: 100%;
    height: calc(100vh - 433px);
}

.mapContainerLarge {
    width: 100%;
    height: calc(100vh - 85px);
}
