/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: MIT
 */

.mapContainer,
.mapContainerSmall {
    display: grid;
    position: relative;
    width: 100%;
}

.mapContainer {
    height: 100%;
    max-height: 100%;
}

.container {
    grid-area: 1 / 1;
    z-index: 2;
    margin-top: 8px;
    margin-bottom: 8px;
    overflow: hidden;
    max-height: 100%;
    display: flex;
}

.container > div {
    height: fit-content;
}

.left {
    margin-left: 8px;
    justify-self: flex-start;
}

.bottom {
    margin-bottom: 36px;
    align-self: flex-end;
}
