/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: MIT
 */

:root {
    --default-spacing: 8px;
    /* font-size: 16px; */
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#map-container-main {
    grid-area: 1 / 1;
    width: 100%;
    height: 100%; /* Top Bar + card height*/
    max-height: inherit;
    z-index: 1;
}

.mapboxgl-ctrl-attrib {
    color: black;
}

div.mapboxgl-ctrl-attrib a:hover {
    color: white;
}

div.mantine-Switch-root:hover {
    cursor: pointer;
}

:where([data-mantine-color-scheme='dark'])
    div.mapboxgl-popup
    div.mapboxgl-popup-content {
    background-color: #2e2e2e;
}
:where([data-mantine-color-scheme='dark'])
    div.mapboxgl-popup-anchor-left
    div.mapboxgl-popup-tip {
    border-right-color: #2e2e2e;
}
:where([data-mantine-color-scheme='dark'])
    div.mapboxgl-popup-anchor-top
    div.mapboxgl-popup-tip,
:where([data-mantine-color-scheme='dark'])
    div.mapboxgl-popup-anchor-top-left
    div.mapboxgl-popup-tip,
:where([data-mantine-color-scheme='dark'])
    div.mapboxgl-popup-anchor-top-right
    div.mapboxgl-popup-tip {
    border-bottom-color: #2e2e2e;
}
:where([data-mantine-color-scheme='dark'])
    div.mapboxgl-popup-anchor-bottom
    div.mapboxgl-popup-tip,
:where([data-mantine-color-scheme='dark'])
    div.mapboxgl-popup-anchor-bottom-left
    div.mapboxgl-popup-tip,
:where([data-mantine-color-scheme='dark'])
    div.mapboxgl-popup-anchor-bottom-right
    div.mapboxgl-popup-tip {
    border-top-color: #2e2e2e;
}
:where([data-mantine-color-scheme='dark'])
    div.mapboxgl-popup-anchor-right
    div.mapboxgl-popup-tip {
    border-left-color: #2e2e2e;
}

:where([data-mantine-color-scheme='light'])
    div.mapboxgl-popup
    div.mapboxgl-popup-content {
    background-color: #fff;
}
:where([data-mantine-color-scheme='light'])
    div.mapboxgl-popup-anchor-left
    div.mapboxgl-popup-tip {
    border-right-color: #fff;
}
:where([data-mantine-color-scheme='light'])
    div.mapboxgl-popup-anchor-top
    div.mapboxgl-popup-tip,
:where([data-mantine-color-scheme='light'])
    div.mapboxgl-popup-anchor-top-left
    div.mapboxgl-popup-tip,
:where([data-mantine-color-scheme='light'])
    div.mapboxgl-popup-anchor-top-right
    div.mapboxgl-popup-tip {
    border-bottom-color: #fff;
}
:where([data-mantine-color-scheme='light'])
    div.mapboxgl-popup-anchor-bottom
    div.mapboxgl-popup-tip,
:where([data-mantine-color-scheme='light'])
    div.mapboxgl-popup-anchor-bottom-left
    div.mapboxgl-popup-tip,
:where([data-mantine-color-scheme='light'])
    div.mapboxgl-popup-anchor-bottom-right
    div.mapboxgl-popup-tip {
    border-top-color: #fff;
}
:where([data-mantine-color-scheme='light'])
    div.mapboxgl-popup-anchor-right
    div.mapboxgl-popup-tip {
    border-left-color: #fff;
}

div.mapboxgl-popup-content {
    width: fit-content;
    border-radius: 0.5rem;
}

:where([data-mantine-color-scheme='light']) div.mapboxgl-popup-content {
    color: #000;
}
:where([data-mantine-color-scheme='dark']) div.mapboxgl-popup-content {
    color: #fff;
}

button.mapboxgl-popup-close-button {
    font-size: x-large;
    top: 8px;
    right: 8px;
}

.grow {
    transition: all 0.2s ease-in-out;
}

.grow:hover {
    transform: scale(1.05);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html[data-mantine-color-scheme='dark'] {
    color-scheme: dark;
    --background: #0a0a0a;
    --foreground: #ededed;
}

html[data-mantine-color-scheme='light'] {
    color-scheme: light;
    --background: #f5f5f5;
    --foreground: #171717;
}

.mantine-Radio-body *,
.mantine-Switch-body * {
    cursor: pointer;
}

@media screen and (max-width: 1280px) {
    :root {
        font-size: 14px;
    }
}

@media screen and (max-width: 1024px) {
    :root {
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    :root {
        font-size: 10px;
    }
}

@media screen and (max-width: 600px) {
    :root {
        font-size: 10px;
    }
}
