.DS_Store

*.egg-info

local.openapi.yml

.egg-info

__pycache__/

# debugging test file
test.json

.coverage
coverage.xml
htmlcov/

.venv/

node_modules/

*.sql

*.sql.gz
*.sql.zip

!schema.sql

# directories from the resops zip
ResOpsUS/
__MACOSX

*.gpkg
