# Ignore everything
/**

# Unignore specific directories and files
!.devcontainer/
!.devcontainer/**

!.vscode/
!.vscode/**

!rise/
!rise/**

!docs/
!docs/**

!.gitignore
!.pre-commit-config.yaml

!Dockerfile-rise
!docker-compose-rise.yml
!readme.md
!requirements-rise.txt

*.pyc
__pycache__/
