# Copyright 2025 Lincoln Institute of Land Policy
# SPDX-License-Identifier: MIT

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
  skip: [pygeoapi_config_validate]
repos:
  - repo: meta
    hooks:
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude_types: [svg]
      - id: fix-byte-order-marker
      - id: mixed-line-ending
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      - id: prettier
        exclude: "dashboard-ui/.*"
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.10
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.9.21
    hooks:
      # Update the uv lockfile
      - id: uv-lock
      - id: uv-export
        args: ["--no-hashes"]
  - repo: https://github.com/google/addlicense
    rev: "v1.2.0"
    hooks:
      - id: addlicense
        args: ["-s=only", -l, "MIT", -c, "Lincoln Institute of Land Policy"]
  - repo: https://github.com/cgs-earth/pygeoapi-precommit-hooks
    rev: db97aac5f8b6d43994478e38817e85723ed422cc
    hooks:
      - id: pygeoapi_resources_have_links
        args: ["pygeoapi.config.yml"]
        pass_filenames: false
  - repo: local
    hooks:
      - id: pygeoapi_config_validate
        name: pygeoapi_config_validate
        entry: uv run pygeoapi config validate --config pygeoapi.config.yml
        language: system
        types: [yaml]
        pass_filenames: false
