services:
  redis:
    image: redislabs/redismod
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  pygeoapi:
    build:
      context: .
      dockerfile: Dockerfile-rise
    image: rise-pygeoapi
    ports:
      # if launched with `pygeoapi serve`, pygeoapi runs on port 5000
      - "5000:80"
        # - "5000:5000"

    environment:
      # Need to set these env vars for the custom entrypoint
      - PYGEOAPI_CONFIG=/pygeoapi/local.config.yml
      - PYGEOAPI_OPENAPI=/pygeoapi/local.openapi.yml
    depends_on:
      - redis

volumes:
  redis_data:
