/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: MIT
 */

.actionButton svg {
  width: 2rem;
  height: auto;
}

.actionButton:not(:disabled) svg {
  fill: var(--mantine-color-white);
}

.geoStack {
  min-height: 7.5rem;
}

.gradientContainer {
  width: 100%;
  margin: 0 auto;
}

.gradient {
  width: 100%;
  height: 34px;
  border: 1px solid #000;
}

.gradientLabelContainer {
  display: flex;
  justify-content: space-between;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  background: var(--mantine-color-body);
  z-index: 200;
}

.panelUnderlay {
  position: absolute;
  width: 100dvw;
  height: 100dvh;

  z-index: 199;
  background: #000;
  opacity: 0.8;
  pointer-events: none;
}

.panelWrapper {
  height: 100%;

  width: 25rem;
  min-width: 25rem;
  max-width: 25%;

  margin: 0 auto;

  overflow-x: hidden;
  overflow-y: auto;

  z-index: 199;
  background: var(--mantine-color-body);
}

.radioBody {
  align-items: center;
}

.radioLabel {
  padding-left: calc(var(--default-spacing) / 2);
}

.title {
  text-align: center;
}

.mobileClose {
  position: absolute;
  right: 0;
  top: var(--default-spacing);
  margin-left: unset;
  margin-right: unset;
  display: none;

  fill: var(--mantine-color-text);
  stroke: var(--mantine-color-text);
}

.filterTitleWrapper > svg {
  width: 1.125rem;
  height: auto;
}
.mobileClose svg {
  width: 2rem;
  height: auto;
}

.mobileOpen {
  position: absolute;
  left: var(--default-spacing);
  top: var(--default-spacing);
  margin-left: unset;
  margin-right: unset;
  display: none;
  z-index: 1;
}

.selectStack {
  min-height: 5rem;
}

@media screen and (max-width: 899px) {
  .mobileClose,
  .mobileOpen {
    display: block;
  }

  .toggleButton {
    display: none;
  }

  .panelOpen {
    width: 100%;
  }

  .panelClosed {
    width: 100%;
    max-width: unset;
  }

  .panelWrapper {
    position: fixed;
    top: var(--default-spacing);
    left: var(--default-spacing);
    right: var(--default-spacing);
    bottom: var(--default-spacing);
    width: calc(100dvw - (var(--default-spacing) * 3));
    min-width: calc(100dvw - (var(--default-spacing) * 3));
    height: auto;
    max-height: calc(100dvh - (var(--default-spacing) * 2));
    overflow-y: auto;
    overflow-x: hidden;
  }
}
