.topBarContainer {
    width: 100vw;
}

.topBarPaper {
    height: inherit;
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-bottom: 1px solid var(--mantine-color-default-border);
}

.logoBarPaper {
    height: 67px;
}

.darkModeToggleContainer {
    padding-bottom: 7px;
}

.filterBackground {
    background-color: #242424;
}

.filterGroupContainer {
    margin-top: 0.5rem;
}

@media (prefers-color-scheme: dark) {
}
