/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: MIT
 */

.topBarContainer {
    width: 100vw;
    height: fit-content;
}

.topBarPaper {
    height: 100%;
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-bottom: 1px solid var(--mantine-color-default-border);
}

.logoBarPaper {
    min-height: 67px;
}

.darkModeToggleContainer {
    margin-left: auto;
}

.filterBackground {
    background-color: #242424;
}

.filterGroupContainer {
    margin-top: 1rem;
}

.logoContainer {
    height: 50px;
}

@media (max-width: 1225px) {
    .divider {
        visibility: hidden;
    }
}

@media (max-width: 478px) {
    .skeleton {
        max-width: 47%;
    }
}
