/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: MIT
 */

.wrapper {
    padding: calc(var(--default-spacing) * 2);
}

.baseLayerSelector {
    max-width: 250px;
}

.dimmedIcon > svg {
    fill: var(--mantine-color-dimmed);
    stroke: var(--mantine-color-dimmed);
}

.dimmedIcon > svg,
.smallIcon > svg,
.labelIcon > svg {
    height: auto;
}

.smallIcon > svg,
.labelIcon > svg {
    fill: var(--mantine-color-text);
    stroke: var(--mantine-color-text);
}

.labelIcon > svg {
    width: 1rem;
}

.dimmedIcon > svg,
.smallIcon > svg {
    width: 0.875rem;
}

.noaaSubLabel {
    max-width: 24rem;
}

@media screen and (max-width: 899px) {
    .noaaSubLabel {
        max-width: unset;
    }
}
