/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: MIT
 */

.colorPicker {
  width: 135px;
}

.legendContrast {
  padding: 4px;
  background: var(--mantine-color-gray-4);
}
