/**
 * Copyright 2026 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: MIT
 */

.root {
  max-width: 100vw;

  min-height: 100vh;
  height: auto;

  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.contentWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;

  min-height: 0;
  overflow: hidden;
}

.primaryWrapper {
  flex: 1;
  display: flex;

  min-height: 0;
  overflow: hidden;
}

.right {
  position: relative;
  flex: 1;

  height: -webkit-fill-available;
  min-height: 0;

  overflow: hidden;
}

@media screen and (max-width: 899px) {
  .right {
    position: static;
    flex: none;

    width: 100%;
    min-width: 100%;

    min-height: 0;
  }
}
