/**
 * Copyright 2026 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: MIT
 */
.closeButton {
  pointer-events: auto;
}

.closeButton svg {
  width: 1.45rem !important;
  height: auto !important;
}

.contentWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;

  min-height: 0;
  overflow: hidden;
}

.description {
  color: var(--mantine-color-default-color);
}

.notification {
  position: absolute;
  bottom: 74px;
  left: var(--default-spacing);

  width: 75%;
  max-width: calc(100% - 3.625rem);
  align-items: flex-start;
  gap: calc(var(--default-spacing) * 2);
  pointer-events: auto;
}

.primaryWrapper {
  flex: 1;
  display: flex;

  min-height: 0;
  overflow: hidden;
}

.root {
  max-width: 100vw;

  min-height: 100vh;
  height: auto;

  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.right {
  position: relative;
  flex: 1;

  height: -webkit-fill-available;
  min-height: 0;

  overflow: hidden;
}

@media screen and (max-width: 899px) {
  .right {
    position: static;
    flex: none;

    width: 100%;
    min-width: 100%;

    min-height: 0;
  }

  .notification {
    width: unset;
  }
}
