/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  max-width: 100vw;
  height: 100vh;
  /* min-height: 667px; */
  overflow: hidden;
}

.right {
  position: relative;

  flex: 1;
  height: 100%;
  min-width: 500px;
}

.primaryWrapper {
  height: 100%;
  min-height: inherit;
}

.contentWrapper {
  height: 100%;
  min-height: inherit;
}

@media screen and (max-width: 899px) {
  .right {
    position: unset;

    flex: unset;

    min-width: 100%;
    width: 100%;
  }
}
