/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: MIT
 */

.mapToolsContainer {
  position: absolute;
  top: var(--default-spacing);
  right: 49px;
}

.legendContainer {
  width: 300px;
}
