/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: MIT
 */

.table {
    width: 100%;
}

.nameColumn {
    width: 9.6875rem;
}

.content {
    padding: 0px;
}

.searchInput {
    width: 140px;
}

.sortBySelect {
    width: 130px;
}

.pageSizeInput {
    width: 113px;
}

.buttonColumn {
    width: 70px;
}

.highlight {
    font-weight: bold;
    color: #d0a02a;
}

@media screen and (max-width: 400px) {
    .nameColumn {
        width: 7.6875rem;
    }
}
