/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: MIT
 */

.buttonColumn {
    width: 4.375rem;
}

.content {
    padding: 0px;
}

.filterWrapper {
    padding: calc(var(--default-spacing) * 2);
}

.filterIcon {
    fill: var(--mantine-color-text);
}

.filterIcon svg {
    width: 1.5rem;
    height: auto;
}

.label {
    padding-inline-start: calc(var(--default-spacing) / 2);
    padding-inline-end: calc(var(--default-spacing) * 0.75);
}

.multiselect {
    width: 8.75rem;
    max-width: 8.75rem;
}

.nameColumn {
    width: 14.15rem;
}

.pageSizeInput {
    width: 7.0625rem;
}

.rotate180 {
    transform: rotate(180deg);
}

.row {
    cursor: pointer;
}

.row:focus-visible,
.row:hover {
    background-color: var(--mantine-color-default-hover);
    outline: 3px solid #d0a02a;
    outline-offset: -3px;
    font-weight: bold;
}

.rowButton {
    display: contents;
}

.searchInput {
    width: 8.75rem;
}

.sortBySelect {
    width: 7.6875rem;
}

.sortOrderButton {
    margin-bottom: 0.25rem;
    margin-top: 1.75rem;
}

.table {
    width: 100%;
}

@media screen and (max-width: 400px) {
    .nameColumn {
        width: 10rem;
    }
}
