/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: MIT
 */

.table {
    width: 100%;
}

.nameColumn {
    width: 14.15rem;
}

.content {
    padding: 0px;
}

.row {
    cursor: pointer;
}

.row:focus-visible,
.row:hover {
    background-color: var(--mantine-color-default-hover);
    outline: 3px solid #d0a02a;
    outline-offset: -3px;
    font-weight: bold;
}

.rowButton {
    display: contents;
}

.searchInput {
    width: 140px;
}

.sortBySelect {
    width: 130px;
}

.pageSizeInput {
    width: 113px;
}

.buttonColumn {
    width: 70px;
}

@media screen and (max-width: 400px) {
    .nameColumn {
        width: 10rem;
    }
}
