/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: MIT
 */

.graphicPanel {
    width: calc(55% - var(--default-spacing));
}
.infoPanel {
    width: calc(45% - var(--default-spacing));
}

.svg {
    max-width: 75%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.svg:hover {
    transform: scale(1.05);
}

.row {
    height: calc(48% - var(--default-spacing));
}

.chartWrapper {
    height: 54%;
}

.chartContainer {
    min-height: 300px;
}

.graphicLegendColor {
    width: 20px;
    height: 20px;
    border-radius: 4px;
}
