/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: MIT
 */

.body {
    height: min(80vh, 735px);
    max-height: 735px;
}

.chartWrapper {
    height: 54%;
}

.chartContainer {
    min-height: 18.75rem;
}

.content {
    width: min(80vw, 1265px);
    height: 800px;
    max-width: 1265px;
    overflow-x: hidden;
}

.graphicLegendColor {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 4px;
}

.graphicLegendDashWrapper {
    width: 3rem;
    display: flex;
    justify-content: center;

    .graphicLegendDash {
        width: 100%;
        height: 0.25rem;
        border: none;
        border-top: 0.25rem dashed;
        margin-top: auto;
        margin-bottom: auto;
    }
}

.graphicPanel {
    flex-direction: row;
}

.infoGroup {
    flex-direction: column;
    justify-content: space-between;
}

.infoIcon > svg {
    width: 1rem;
    height: auto;
}

.legendWrapper {
    flex-direction: column;
}

.legend {
    max-width: 20rem;
    flex-direction: column;
}

.metrics {
    flex-direction: column;
}

.svg {
    width: 32rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.svg:hover {
    transform: scale(1.05);
}

.row {
    height: calc(48% - var(--default-spacing));
}

@media screen and (max-width: 1464px) {
    /* .graphicPanel,
    .infoPanel {
        width: calc(50% - (var(--default-spacing) / 2));
    } */

    .graphicPanel {
        flex-direction: column-reverse;
    }

    .legendWrapper,
    .legend {
        flex-direction: row;
        align-items: center;
    }
}

@media screen and (max-width: 899px) {
    .content {
        width: calc(100dvw - (var(--default-spacing) * 3));
        min-width: calc(100dvw - (var(--default-spacing) * 3));
        height: auto;
        max-height: calc(100dvh - (var(--default-spacing) * 2));
    }

    .body {
        height: auto;
        max-height: calc(100dvh - (var(--default-spacing) * 2));
    }

    .svg {
        width: 30rem;
    }
}

@media screen and (max-width: 866px) {
    .graphicPanel {
        align-items: center;
    }

    .metrics {
        flex-direction: row;
    }

    .graphicPanel,
    .metrics {
        width: 100%;
    }

    .metricsGroup {
        width: calc(50% - (var(--default-spacing) / 2));
    }

    .metricsWrapper {
        width: 100%;
    }
}

@media screen and (max-width: 664px) {
    .metrics {
        flex-direction: column;
    }

    .metricsGroup {
        width: unset;
    }
}

:where([data-mantine-color-scheme='dark']) {
    .graphicLegendText {
        color: #000;
    }

    .legendPaper {
        background-color: var(--mantine-color-gray-0);
    }

    .infoIcon > svg {
        fill: #000;
        stroke: #000;
    }
}

:where([data-mantine-color-scheme='light']) {
    .graphicLegendText {
        color: #fff;
    }

    .legendPaper {
        background-color: var(--mantine-color-dark-4);
    }

    .infoIcon > svg {
        fill: #fff;
        stroke: #fff;
    }
}
