/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: Apache-2.0
 */

:root {
  --usbr-spillway-blue: #0081a1;
  --usbr-red-rocks: #a23737;
  --usbr-canyon-gold: #c2850c;
  --usbr-warning: #fff5ee;

  --default-spacing: 8px;
}

#map-container-main-map {
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

@media screen and (max-width: 1280px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    font-size: 12px;
  }
}

@media screen and (max-width: 899px) {
  :root {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  :root {
    font-size: 12px;
  }
}

div.mapboxgl-popup-content {
  padding: var(--default-spacing);
  color: var(--mantine-color-text);
  background-color: var(--mantine-color-body);
}

button.mapboxgl-popup-close-button {
  font-size: 1.875rem;
  right: 0px;
  top: var(--default-spacing);
  color: var(--mantine-color-text);
}

div.mapboxgl-popup-anchor-left div.mapboxgl-popup-tip {
  border-right-color: var(--mantine-color-body);
}

div.mapboxgl-popup-anchor-top div.mapboxgl-popup-tip,
div.mapboxgl-popup-anchor-top-left div.mapboxgl-popup-tip,
div.mapboxgl-popup-anchor-top-right div.mapboxgl-popup-tip {
  border-bottom-color: var(--mantine-color-body);
}

div.mapboxgl-popup-anchor-bottom div.mapboxgl-popup-tip,
div.mapboxgl-popup-anchor-bottom-left div.mapboxgl-popup-tip,
div.mapboxgl-popup-anchor-bottom-right div.mapboxgl-popup-tip {
  border-top-color: var(--mantine-color-body);
}

div.mapboxgl-popup-anchor-right div.mapboxgl-popup-tip {
  border-left-color: var(--mantine-color-body);
}
