/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: Apache-2.0
 */

:root {
  --default-spacing: 8px;
}

#map-container-main-map {
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

@media screen and (max-width: 1280px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 10px;
  }
}

@media screen and (max-width: 600px) {
  :root {
    font-size: 10px;
  }
}
