/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: MIT
 */

.actionButton svg {
    width: 2rem;
    height: auto;
}

.darkModeToggleContainer {
    margin-left: auto;
}

.darkModeIcon {
    width: 1rem;
}

.panel {
    min-width: 31rem;
    width: 3rem;
    z-index: 3;
}

.root {
    max-height: calc(100% - 13.125rem);
    overflow-y: auto;
}

.content {
    padding: 0px;
}

.control {
    background: var(--mantine-color-body);
    border-bottom: 1px solid var(--item-border-color);
    border-top: 1px solid var(--item-border-color);
}

.sticky .control {
    position: sticky;
    z-index: 3;
    top: 0;
}

.mobileClose {
    position: absolute;
    right: var(--default-spacing);
    top: var(--default-spacing);
    margin-left: unset;
    margin-right: unset;
    display: none;

    fill: var(--mantine-color-text);
    stroke: var(--mantine-color-text);
}

.mobileClose svg {
    width: 2rem;
    height: auto;
}

@media screen and (max-width: 899px) {
    .root {
        max-height: unset;
    }

    .mobileClose,
    .mobileOpen {
        display: block;
    }

    .panelClosed {
        width: 100%;
        max-width: unset;
    }

    .panelOpen {
        width: 100%;
    }

    .panel {
        position: fixed;
        top: var(--default-spacing);
        left: var(--default-spacing);
        right: var(--default-spacing);
        bottom: var(--default-spacing);
        width: calc(100dvw - (var(--default-spacing) * 3));
        min-width: calc(100dvw - (var(--default-spacing) * 3));
        height: auto;
        max-height: calc(100dvh - (var(--default-spacing) * 2));
        overflow-y: auto;
        overflow-x: hidden;
    }

    .panelWrapper {
        height: unset;
        max-height: unset;
    }

    .toggleButton {
        display: none;
    }
}

:where([data-mantine-color-scheme='light']) div.mapboxgl-popup-content {
    color: #000;
}
/* :where([data-mantine-color-scheme='dark']) .content {
    background: var(--mantine-color-dark-6);
}
:where([data-mantine-color-scheme='light']) .content {
    background: var(--mantine-color-gray-2);
} */
