/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: MIT
 */

.wrapper {
    padding: calc(var(--default-spacing) * 2);
}

.baseLayerSelector {
    max-width: 250px;
}

.labelIcon > svg {
    fill: var(--mantine-color-text);
    stroke: var(--mantine-color-text);
    width: 1rem;
    height: auto;
}
