/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: MIT
 */

.reservoirPopup {
    width: 620px;
}

.reservoirLeft {
    width: calc(54% - var(--default-spacing));
}

.reservoirRight {
    width: calc(46% - var(--default-spacing));
}

.section {
    width: calc(50% - var(--default-spacing));
}

.svg {
    max-width: 75%;
}
