/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: MIT
 */

.reservoirPopup {
    width: fit-content;
    margin: -10px -10px -15px;
}

.reservoirPopup svg {
    min-width: unset;
    width: 230px;
}
