/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: MIT
 */

.downloadButtonWrapper {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
}

.parameterNameSelect {
  width: 45%;
}

.chartWrapper {
  height: 300px;
}

.goButton {
  margin-top: 1.65em;
  max-width: 5em;
}

.csvButton {
  max-width: 10em;
  margin-left: auto;
}

.copyInputWrapper {
  width: 84%;
}
