/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: MIT
 */

.partialWidth {
  width: 82%;
}
.fullWidth {
  width: 100%;
}

.chartWrapper {
  height: 300px;
}

.chartNoData {
  width: 100%;
  height: 95%;
}

.checkboxHighlight {
  color: var(--usbr-canyon-gold);
}

.copyInputWrapper {
  width: 84%;
  max-width: 100%;
}

.collectionWrapper:not(:first-child) {
  border-top: 1px solid var(--mantine-color-default-border);
}

.csvButton {
  max-width: 10em;
  margin-left: auto;
}

.datePicker {
  min-width: 11em;
}

.downloadButtonWrapper {
  position: absolute;
  top: var(--default-spacing);
  left: var(--default-spacing);
  z-index: 1;
}

.downloadButtonWrapper > button:first-of-type {
  margin-right: var(--default-spacing);
}

.goButton {
  margin-top: 3.15em;
  max-width: 6em;
}

.menu {
  width: 19%;
  max-width: 19%;
  padding-top: var(--default-spacing);
}

.locationBlockWrapper {
  width: 80%;
  max-width: 80%;
  height: -webkit-fill-available;
  padding-top: var(--default-spacing);
  padding-left: var(--default-spacing);
  border-left: 1px solid var(--mantine-color-default-border);
}

.locationHighlight {
  border: 1px solid var(--usbr-canyon-gold);
}

.locationStandard {
  border: 1px solid var(--mantine-color-default-border);
}

.locationWrapper {
  padding: var(--default-spacing);
}

.parameterNameSelect {
  min-width: 24em;
}

.parameterLabelWrapper > svg {
  width: 14px;
  height: auto;
}
.parameterLabelWrapper > label > span {
  color: red;
}

@media screen and (max-width: 816px) {
  .copyInputWrapper {
    width: unset;
  }

  .csvButton {
    max-width: unset;
    margin-left: unset;
  }
}

@media screen and (max-width: 720px) {
  .parameterNameSelect {
    min-width: 100%;
  }
}
