/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: MIT
 */

.infoButton svg[data-identifier="help-svg"] {
  fill: var(--mantine-color-white);
}

.tabList {
  margin-bottom: calc(var(--default-spacing) * 2);
}
