/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: MIT
 */

.body {
  width: 100%;
  padding-left: calc(var(--default-spacing) * 2);
  padding-right: calc(var(--default-spacing) * 2);
  padding-bottom: calc(var(--default-spacing) * 2);
}

.infoButton svg[data-identifier='help-svg'] {
  fill: var(--mantine-color-white);
  width: 2rem;
  height: auto;
}

.tabs {
  width: 100%;
}

.list {
  position: sticky;
  top: 0;
  margin-bottom: calc(var(--default-spacing) * 2);
  background: var(--mantine-color-body);
}
