/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: MIT
 */

.mapToolsContainerRight {
    grid-area: 1 / 1;
    z-index: 2;
    justify-self: flex-end;
    margin-right: 49px;
    margin-top: 8px;
}
.mapToolsContainerLeft {
    grid-area: 1 / 1;
    z-index: 2;
    justify-self: flex-start;
    margin-left: 49px;
    margin-top: 8px;
}

.basemapSelectorContainer {
    width: 210px;
}

.mapToolTitle {
    text-align: center;
}

.basemapSelectorCheckboxLabel {
    text-transform: capitalize;
}

.screenshotLoaderContainer {
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controlsContainer {
    width: 215px;
}
