/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: MIT
 */
.actionIcon {
    stroke: var(--mantine-color-text);
    fill: var(--mantine-color-text);
}

.actionIcon svg {
    width: 2rem;
    height: auto;
    padding: 1px;
}

.basemapSelector {
    cursor: pointer;
    padding: 8px;
}

.basemapSelector[data-disabled='true'] {
    cursor: not-allowed;
    opacity: 0.8;
}

.basemapSelectorCheckboxLabel {
    text-transform: capitalize;
}

.basemapWrapper {
    width: 300px;
    --grid-gutter: calc(var(--default-spacing) * 2);
}

.capitalize {
    text-transform: capitalize;
}

.controlsContainer {
    width: 215px;
}

.left {
    position: absolute;
    top: var(--default-spacing);
    left: var(--default-spacing);
    z-index: 1;
}

.right {
    position: absolute;
    top: var(--default-spacing);
    right: var(--default-spacing);
    z-index: 1;
}

.mapToolsContainer {
    grid-area: 1 / 1;
    z-index: 2;
    margin-top: 8px;
    margin-bottom: 8px;
    overflow: hidden;
    max-height: 100%;
    display: flex;
}

.mapToolsContainer > div {
    height: fit-content;
}
/* 
.mapToolTitle {
    text-align: center;
} */

.screenshotLoaderContainer {
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolContent {
    max-height: calc(100vh - 490px);
    overflow: auto;
}

.toolGroup {
}
