/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: MIT
 */

.container {
  width: 19em;
}

.entry {
  width: 100%;
  border-top: 1px solid var(--mantine-color-default-border);
}
.title svg {
  width: 1.125rem;
  height: auto;
}

.orderButton svg {
  fill: var(--mantine-color-white);
  width: 2rem;
  height: auto;
}

.actionIcon {
  stroke: var(--mantine-color-text);
  fill: var(--mantine-color-text);
}

.actionIcon > svg {
  width: 2rem;
  height: auto;
}
