/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: Apache-2.0
 */

div.chartWrapper {
  height: 12.5rem;
  width: 100%;
}

.chartNoData {
  width: 100%;
  height: 95%;
}

.locationsDropdown {
  width: 6.5625rem;
}

.parametersDropdown {
  width: 10.5rem;
}

.timesDropdown {
  width: 8.75rem;
}

.noContent {
  margin-right: 1.5625rem;
  margin-top: -1px;
}

.popupContent {
  margin-top: 1.25rem;
}

.popupWrapper {
  width: 28.125rem;
}

.table {
  table-layout: fixed;
  width: 100%;
}

.tableWrapper {
  max-height: 12.5rem;
  overflow-y: scroll;
}

.propertyColumn {
  width: fit-content;
}

.valueColumn {
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.linkButtonWrapper {
  margin-left: auto;
}
