/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: MIT
 */

.controlsWrapper {
  position: absolute;
  top: var(--default-spacing);
  left: var(--default-spacing);
  z-index: 1;
}
