pygeoapi @ git+https://github.com/geopython/pygeoapi.git
git+https://github.com/cgs-earth/Western-Water-Datahub-Mappings.git
com @ git+https://github.com/cgs-earth/Western-Water-Datahub-Mappings.git#subdirectory=packages/com
rise @ git+https://github.com/cgs-earth/Western-Water-Datahub-Mappings.git#subdirectory=packages/rise
snotel @ git+https://github.com/cgs-earth/Western-Water-Datahub-Mappings.git#subdirectory=packages/snotel
uvicorn
xarray
zarr<3
s3fs<=2023.6.0
gunicorn
