/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: Apache-2.0
 */

.input {
  --input-height: calc(2.625rem * 1);
  height: var(--input-height);
  border: calc(0.0625rem * var(--mantine-scale)) solid
    var(--mantine-color-default-border);
  border-radius: var(--mantine-radius-default);
}

.text {
  max-width: 90%;
  flex-shrink: 1;
  min-width: 0;
  overflow: hidden;
  display: block;
  margin-left: 8px;
  white-space: nowrap;
}

.buttonWrapper {
  margin-left: auto;
}

.button svg {
  padding-top: 0.1875rem;
  margin: 0.0625rem;
}

.button.xs svg {
  width: 1.5rem;
  height: 1.5rem;
}

.button.sm svg {
  width: 1.75rem;
  height: 1.75rem;
}

.button.md svg {
  width: 2rem;
  height: 2rem;
}

.button.lg svg {
  width: 2.25rem;
  height: 2.25rem;
}

.button.xl svg {
  width: 2.5rem;
  height: 2.5rem;
}

[data-mantine-color-scheme="dark"]
  .button
  svg[data-identifier="link-copy-svg"] {
  fill: var(--mantine-color-dark-0);
}

[data-mantine-color-scheme="light"]
  .button
  svg[data-identifier="link-copy-svg"] {
  fill: var(--mantine-color-black);
}

[data-mantine-color-scheme="dark"] .button svg[data-identifier="check-svg"] {
  stroke: var(--mantine-color-dark-0);
}

[data-mantine-color-scheme="light"] .button svg[data-identifier="check-svg"] {
  stroke: var(--mantine-color-black);
}

@media screen and (max-width: 899px) {
  .text {
    max-width: 70%;
  }
}
